etc-dnsmasq.d/*
etc-pihole/*
overseerr/*
unpackerr/*
adguard/*
lidarr/*
meshnet/*
navidrome*
notifiarr/*
nzbget/config/nzbget.conf
nzbget/config/nzbget.log
plex/*
portainer/*
prowlarr/*
qbittorrent/
radarr/
readarr/
secrets/*
sonarr/
homepage/config/widgets.yaml
homepage/config/settings.yaml
**/*.log
**/*.sqlite
data/keys.json
**/logs/**
nginx/keys.json
*.sab
*.nzb*
sabnzbd/admin/history1.db
*.ini*
calibre/*
calibre-web/*
homebridge/*
portainer_data/portainer.db
portainer_data/portainer.key
portainer_data/portainer.pub
