etc-dnsmasq.d/*
etc-pihole/*
overseerr/*
unpackerr/*
adguard/*
lidarr/*
meshnet/*
navidrome*
notifiarr/*
nzbget/config/nzbget.conf
nzbget/config/nzbget.log
plex/*
portainer/*
prowlarr/*
qbittorrent/
radarr/
readarr/
secrets/*
sonarr/
homepage/config/widgets.yaml
homepage/config/settings.yaml
**/*.log
**/*.sqlite
data/keys.json
**/logs/**
nginx/keys.json
*.sab
*.nzb*
sabnzbd/admin/history1.db
*.ini*
calibre/.bashrc
calibre/.cache/calibre/ev2/metadata.json
calibre/.cache/calibre/ev2/f/c3-uzy6klm_/calibre-book-annotations.json
calibre/.cache/calibre/ev2/f/c3-uzy6klm_/calibre-book-manifest.json
calibre/.cache/calibre/ev2/f/c3-uzy6klm_/calibre-book-metadata.json
calibre/.cache/calibre/ev2/f/c3-uzy6klm_/images/cover.jpg
calibre/.cache/calibre/ev2/f/c3-uzy6klm_/styles/stylesheet.css
calibre/.cache/calibre/ev2/f/c3-uzy6klm_/text/common_tasks.xhtml
calibre/.cache/calibre/ev2/f/c3-uzy6klm_/text/installing_calibre.xhtml
calibre/.cache/calibre/ev2/f/c3-uzy6klm_/text/internal_titlepage.xhtml
calibre/.cache/calibre/ev2/f/c3-uzy6klm_/text/introduction.xhtml
calibre/.cache/calibre/ev2/f/c3-uzy6klm_/text/task_1_organizing.xhtml
calibre/.cache/calibre/ev2/f/c3-uzy6klm_/text/task_2_conversion.xhtml
calibre/.cache/calibre/ev2/f/c3-uzy6klm_/text/task_3_the_ebook_editor.xhtml
calibre/.cache/calibre/ev2/f/c3-uzy6klm_/text/task_4_downloading_news.xhtml
calibre/.cache/calibre/ev2/f/c3-uzy6klm_/text/task_5_interacting_with_ebook_readers.xhtml
calibre/.cache/calibre/ev2/f/c3-uzy6klm_/text/task_6_the_ebook_viewer.xhtml
calibre/.cache/calibre/ev2/f/c3-uzy6klm_/text/the_main_gui_window.xhtml
calibre/.cache/calibre/ev2/f/c3-uzy6klm_/text/titlepage.xhtml
calibre/.cache/calibre/ev2/f/c3-uzy6klm_/text/toc.xhtml
calibre/.cache/calibre/ev2/f/c3-uzy6klm_/text/where_to_get_help.xhtml
calibre/.cache/calibre/qwe/dp/sp/DawnCache/data_0
calibre/.cache/calibre/qwe/dp/sp/DawnCache/data_1
calibre/.cache/calibre/qwe/dp/sp/DawnCache/data_2
calibre/.cache/calibre/qwe/dp/sp/DawnCache/data_3
calibre/.cache/calibre/qwe/dp/sp/DawnCache/index
calibre/.cache/calibre/qwe/dp/sp/GPUCache/data_0
calibre/.cache/calibre/qwe/dp/sp/GPUCache/data_1
calibre/.cache/calibre/qwe/dp/sp/GPUCache/data_2
calibre/.cache/calibre/qwe/dp/sp/GPUCache/data_3
calibre/.cache/calibre/qwe/dp/sp/GPUCache/index
calibre/.cache/calibre/qwe/viewer-lookup/sp/Cookies
calibre/.cache/calibre/qwe/viewer-lookup/sp/Cookies-journal
calibre/.cache/calibre/qwe/viewer-lookup/sp/Favicons
calibre/.cache/calibre/qwe/viewer-lookup/sp/Favicons-journal
calibre/.cache/calibre/qwe/viewer-lookup/sp/History
calibre/.cache/calibre/qwe/viewer-lookup/sp/History-journal
calibre/.cache/calibre/qwe/viewer-lookup/sp/Network Persistent State
calibre/.cache/calibre/qwe/viewer-lookup/sp/user_prefs.json
calibre/.cache/calibre/qwe/viewer-lookup/sp/Visited Links
calibre/.cache/calibre/qwe/viewer-lookup/sp/DawnCache/data_0
calibre/.cache/calibre/qwe/viewer-lookup/sp/DawnCache/data_1
calibre/.cache/calibre/qwe/viewer-lookup/sp/DawnCache/data_2
calibre/.cache/calibre/qwe/viewer-lookup/sp/DawnCache/data_3
calibre/.cache/calibre/qwe/viewer-lookup/sp/DawnCache/index
calibre/.cache/calibre/qwe/viewer-lookup/sp/GPUCache/data_0
calibre/.cache/calibre/qwe/viewer-lookup/sp/GPUCache/data_1
calibre/.cache/calibre/qwe/viewer-lookup/sp/GPUCache/data_2
calibre/.cache/calibre/qwe/viewer-lookup/sp/GPUCache/data_3
calibre/.cache/calibre/qwe/viewer-lookup/sp/GPUCache/index
calibre/.cache/calibre/qwe/viewer-lookup/sp/Local Storage/leveldb/CURRENT
calibre/.cache/calibre/qwe/viewer-lookup/sp/Local Storage/leveldb/LOCK
calibre/.cache/calibre/qwe/viewer-lookup/sp/Local Storage/leveldb/LOG
calibre/.cache/calibre/qwe/viewer-lookup/sp/Local Storage/leveldb/LOG.old
calibre/.cache/calibre/qwe/viewer-lookup/sp/Local Storage/leveldb/MANIFEST-000001
calibre/.cache/calibre/qwe/viewer-lookup/sp/Session Storage/CURRENT
calibre/.cache/calibre/qwe/viewer-lookup/sp/Session Storage/LOCK
calibre/.cache/calibre/qwe/viewer-lookup/sp/Session Storage/LOG
calibre/.cache/calibre/qwe/viewer-lookup/sp/Session Storage/LOG.old
calibre/.cache/calibre/qwe/viewer-lookup/sp/Session Storage/MANIFEST-000001
calibre/.cache/mesa_shader_cache/index
calibre/.cache/mesa_shader_cache/00/f1036bf0b2836762e1a781cd969da403a6d3f7
calibre/.cache/mesa_shader_cache/25/51c26a2d44bd8eb2549220e509287f20cda132
calibre/.cache/mesa_shader_cache/28/3536e22798bad1350377b30a33802fa474ed1b
calibre/.cache/mesa_shader_cache/6e/aa39890d47a9a06f63a6770108c2635d1e3c83
calibre/.cache/mesa_shader_cache/bb/c7c10309bc3af04744590f2dc6c0b88740db2c
calibre/.cache/mesa_shader_cache/c1/5efaee4d6c9c8a2c887e74531240a0de6f9193
calibre/.cache/mesa_shader_cache/c5/fc4f49a384d887b3c86c30b558cd7516f68dba
calibre/.cache/mesa_shader_cache/db/3fb8e3f409e2b74259fa8ff476382e70aa1835
calibre/.cache/mesa_shader_cache/e4/8fd58cd08735ae67a5599d202e15cf0ca38a40
calibre/.cache/qtshadercache-x86_64-little_endian-lp64/023b9e4228f85219707672bca89e9a1cf9030480
calibre/.cache/qtshadercache-x86_64-little_endian-lp64/77e560c0c1c4e996635d473a264371cf3612b2e4
calibre/.config/QtProject.conf
calibre/.config/calibre/dynamic.pickle.json
calibre/.config/calibre/global.py.json
calibre/.config/calibre/gui.json
calibre/.config/calibre/gui.py.json
calibre/.config/calibre/server-config.txt
calibre/.config/calibre/viewer-webengine.json
calibre/.config/calibre/conversion/page_setup.py
calibre/.config/calibre/fonts/scanner_cache.json
calibre/.config/calibre/viewer/annots/b8e521c7cc403b7b77a292a384812d2104c799d1f6b2411d0f40aa1579d9648f.json
calibre/.config/openbox/autostart
calibre/.config/openbox/menu.xml
calibre/.config/pulse/7c40b49f2d0675c6c6b4b7f666a0a2b2-card-database.tdb
calibre/.config/pulse/7c40b49f2d0675c6c6b4b7f666a0a2b2-default-sink
calibre/.config/pulse/7c40b49f2d0675c6c6b4b7f666a0a2b2-default-source
calibre/.config/pulse/7c40b49f2d0675c6c6b4b7f666a0a2b2-device-volumes.tdb
calibre/.config/pulse/7c40b49f2d0675c6c6b4b7f666a0a2b2-stream-volumes.tdb
calibre/.config/pulse/7f28692ebf05346e0e34691e6690b349-card-database.tdb
calibre/.config/pulse/7f28692ebf05346e0e34691e6690b349-default-sink
calibre/.config/pulse/7f28692ebf05346e0e34691e6690b349-default-source
calibre/.config/pulse/7f28692ebf05346e0e34691e6690b349-device-volumes.tdb
calibre/.config/pulse/7f28692ebf05346e0e34691e6690b349-stream-volumes.tdb
calibre/.config/pulse/39c1e4d327b716853c5b011866e3c26e-card-database.tdb
calibre/.config/pulse/39c1e4d327b716853c5b011866e3c26e-default-sink
calibre/.config/pulse/39c1e4d327b716853c5b011866e3c26e-default-source
calibre/.config/pulse/39c1e4d327b716853c5b011866e3c26e-device-volumes.tdb
calibre/.config/pulse/39c1e4d327b716853c5b011866e3c26e-stream-volumes.tdb
calibre/.config/pulse/54ad067492e21e3487c00eca66b316d6-card-database.tdb
calibre/.config/pulse/54ad067492e21e3487c00eca66b316d6-default-sink
calibre/.config/pulse/54ad067492e21e3487c00eca66b316d6-default-source
calibre/.config/pulse/54ad067492e21e3487c00eca66b316d6-device-volumes.tdb
calibre/.config/pulse/54ad067492e21e3487c00eca66b316d6-stream-volumes.tdb
calibre/.config/pulse/ceb6b1d738e0829af6e7fdf666c7fb50-card-database.tdb
calibre/.config/pulse/ceb6b1d738e0829af6e7fdf666c7fb50-default-sink
calibre/.config/pulse/ceb6b1d738e0829af6e7fdf666c7fb50-default-source
calibre/.config/pulse/ceb6b1d738e0829af6e7fdf666c7fb50-device-volumes.tdb
calibre/.config/pulse/ceb6b1d738e0829af6e7fdf666c7fb50-stream-volumes.tdb
calibre/.config/pulse/cookie
calibre/.config/pulse/f79ec3463fe331a020dcb74766cec66e-card-database.tdb
calibre/.config/pulse/f79ec3463fe331a020dcb74766cec66e-default-sink
calibre/.config/pulse/f79ec3463fe331a020dcb74766cec66e-default-source
calibre/.config/pulse/f79ec3463fe331a020dcb74766cec66e-device-volumes.tdb
calibre/.config/pulse/f79ec3463fe331a020dcb74766cec66e-stream-volumes.tdb
calibre/.dbus/session-bus/93b569ad2ded42bf9a3d93658323324a-1
calibre/.dbus/session-bus/447750b765574cfab6af3ff49c6e4a50-1
calibre/.dbus/session-bus/ae3113d7514d44278fe18661eae5ba85-1
calibre/.dbus/session-bus/b945a5249aa349cda55f390a46487057-1
calibre/.dbus/session-bus/ddf3997d250646ada674f5302db1eb4a-1
calibre/.local/bin/jq
calibre/.local/bin/ncat
calibre/.local/bin/proot
calibre/.local/bin/proot-apps
calibre/.local/bin/pversion
calibre/.local/share/calibre-ebook.com/calibre/QtWebEngine/viewer-lookup/user_prefs.json
calibre/Calibre Library/metadata_db_prefs_backup.json
calibre/Calibre Library/metadata.db
calibre/Calibre Library/.calnotes/notes.db
calibre/Calibre Library/John Schember/Quick Start Guide (1)/cover.jpg
calibre/Calibre Library/John Schember/Quick Start Guide (1)/metadata.opf
calibre/Calibre Library/John Schember/Quick Start Guide (1)/Quick Start Guide - John Schember.epub
calibre/Calibre Library/Malcolm Gladwell/Blink_ The Power of Thinking Without Thinking (12)/Blink_ The Power of Thinking Without Think - Malcolm Gladwell.epub
calibre/Calibre Library/Malcolm Gladwell/Blink_ The Power of Thinking Without Thinking (12)/cover.jpg
calibre/Calibre Library/Malcolm Gladwell/Blink_ The Power of Thinking Without Thinking (12)/metadata.opf
calibre/Calibre Library/Malcolm Gladwell/David and Goliath_ Underdogs, Misfits, and the Art of Battling Giants (3)/cover.jpg
calibre/Calibre Library/Malcolm Gladwell/David and Goliath_ Underdogs, Misfits, and the Art of Battling Giants (3)/David and Goliath_ Underdogs, Misfits, and - Malcolm Gladwell.epub
calibre/Calibre Library/Malcolm Gladwell/David and Goliath_ Underdogs, Misfits, and the Art of Battling Giants (3)/metadata.opf
calibre/Calibre Library/Malcolm Gladwell/Outliers_ the story of success (9)/cover.jpg
calibre/Calibre Library/Malcolm Gladwell/Outliers_ the story of success (9)/metadata.opf
calibre/Calibre Library/Malcolm Gladwell/Outliers_ the story of success (9)/Outliers_ the story of success - Malcolm Gladwell.epub
calibre/Calibre Library/Malcolm Gladwell/Talking to Strangers (11)/cover.jpg
calibre/Calibre Library/Malcolm Gladwell/Talking to Strangers (11)/metadata.opf
calibre/Calibre Library/Malcolm Gladwell/Talking to Strangers (11)/Talking to Strangers - Malcolm Gladwell.epub
calibre/Calibre Library/Malcolm Gladwell/The Bomber Mafia (5)/cover.jpg
calibre/Calibre Library/Malcolm Gladwell/The Bomber Mafia (5)/metadata.opf
calibre/Calibre Library/Malcolm Gladwell/The Bomber Mafia (5)/The Bomber Mafia - Malcolm Gladwell.epub
calibre/Calibre Library/Malcolm Gladwell/The Tipping Point (4)/cover.jpg
calibre/Calibre Library/Malcolm Gladwell/The Tipping Point (4)/metadata.opf
calibre/Calibre Library/Malcolm Gladwell/The Tipping Point (4)/The Tipping Point - Malcolm Gladwell.mobi
calibre/Calibre Library/Yuval Noah Harari/21 Lessons for the 21st Century (10)/21 Lessons for the 21st Century - Yuval Noah Harari.epub
calibre/Calibre Library/Yuval Noah Harari/21 Lessons for the 21st Century (10)/cover.jpg
calibre/Calibre Library/Yuval Noah Harari/21 Lessons for the 21st Century (10)/metadata.opf
calibre/Calibre Library/Yuval Noah Harari/Money (7)/cover.jpg
calibre/Calibre Library/Yuval Noah Harari/Money (7)/metadata.opf
calibre/Calibre Library/Yuval Noah Harari/Money (7)/Money - Yuval Noah Harari.epub
calibre/Calibre Library/Yuval Noah Harari/Sapiens and Homo Deus (6)/cover.jpg
calibre/Calibre Library/Yuval Noah Harari/Sapiens and Homo Deus (6)/metadata.opf
calibre/Calibre Library/Yuval Noah Harari/Sapiens and Homo Deus (6)/Sapiens and Homo Deus - Yuval Noah Harari.epub
calibre/Calibre Library/Yuval Noah Harari/Sapiens_ A Brief History of Humankind (8)/cover.jpg
calibre/Calibre Library/Yuval Noah Harari/Sapiens_ A Brief History of Humankind (8)/metadata.opf
calibre/Calibre Library/Yuval Noah Harari/Sapiens_ A Brief History of Humankind (8)/Sapiens_ A Brief History of Humankind - Yuval Noah Harari.epub
calibre/Calibre Library/Yuval Noah Harari/Unstoppable Us, Volume 1 (2)/cover.jpg
calibre/Calibre Library/Yuval Noah Harari/Unstoppable Us, Volume 1 (2)/metadata.opf
calibre/Calibre Library/Yuval Noah Harari/Unstoppable Us, Volume 1 (2)/Unstoppable Us, Volume 1 - Yuval Noah Harari.epub
calibre/ssl/cert.key
calibre/ssl/cert.pem
calibre-web/.CALIBRE_RELEASE
calibre-web/.key
calibre-web/app.db
calibre-web/calibre-web.log.1
calibre-web/client_secrets.json
calibre-web/gdrive.db
