etc-dnsmasq.d/01-pihole.conf
etc-dnsmasq.d/06-rfc6761.conf
etc-pihole/custom.list
etc-pihole/dhcp.leases
etc-pihole/dns-servers.conf
etc-pihole/gravity_old.db
etc-pihole/gravity.db
etc-pihole/list.1.raw.githubusercontent.com.domains
etc-pihole/list.1.raw.githubusercontent.com.domains.sha1
etc-pihole/local.list
etc-pihole/logrotate
etc-pihole/pihole-FTL.conf
etc-pihole/pihole-FTL.db
etc-pihole/setupVars.conf
etc-pihole/setupVars.conf.update.bak
etc-pihole/versions
etc-pihole/migration_backup/adlists.list
dashboard/config/logs/homepage.log
overseerr/config/logs/.2e70e3ce926e8762e310ee324f6f83ad0e3bf5b8-audit.json
overseerr/config/logs/.f0e4fe86813d1630f95770821cc17ce3b75ba976-audit.json
overseerr/config/logs/.machinelogs-2024-02-25.json
overseerr/config/logs/.machinelogs.json
overseerr/config/logs/overseerr-2024-02-25.log
overseerr/config/logs/overseerr.log
dashboard/config/logs/homepage.log
dashboard/config/logs/homepage.log
etc-pihole/adlists.list
dashboard/config/logs/homepage.log
dashboard/config/logs/homepage.log
overseerr/config/db/db.sqlite3
overseerr/config/db/db.sqlite3-shm
overseerr/config/db/db.sqlite3-wal
unpackerr/unpackerr.conf
overseerr/config/settings.json
